html, body {
    height:100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
}

.wrapper {
    background-color: #ffffff;
    margin: auto;
    min-width: 320px;
    max-width: 1150px;
    text-align: center;
}

.container {
    width: 400px;
    max-width: 100%;
    height: 280px;
    display: inline-block;
    padding: 0;
    margin: 10px auto;
    border-style: solid;
    border-color: #8a8484;
    border-width: 2px;
    vertical-align: middle;
    text-align: left;
}

.wideContainer {
    width:805px;
    max-width: 100%;
    height: 280px;
    display: none;
}

.header {
    background-color: #8a8484;
}

.loader {
    display: block;
}

.companiesList {
    width: auto;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 5px;
}

.companyPartnersList {
    height: 90%;

    list-style: none;
    padding: 0;
    white-space: nowrap;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 12px;
}

.flex-item {
    background-color: rgb(238, 240, 255);
    flex: 0 0 150px;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color:#fff;
    border:1px solid #000000;
    width:130px;
    height:130px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    display: none;
    text-align: center;
    line-height: 130px;
    margin: 15% auto;
    font-size: 250%;
}

.progress {
    position: relative;
    width: 100px;
    min-height: 200px;
    margin: 10px;
    text-align:middle;
}

.progress-bar-vertical {
    display: flex;
    align-items: flex-end;
    float: left;
}
  
.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
  }

.progress-bar-title {
    position: absolute;
    text-align: center;
    line-height: 20px; /* line-height should be equal to bar height */
    overflow: hidden;
    right: 0;
    left: 0;
}